caps-remap.ahk=$HOME\OneDrive - CAB\Documents\AutoHotkey\caps-remap.ahk
caps-remap.ahk=$HOME\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Startup\caps-remap.ahk
add-to-things.ahk=$HOME\OneDrive - CAB\Documents\AutoHotkey\add-to-things.ahk
add-to-things.ahk=$HOME\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Startup\add-to-things.ahk
